<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Starter</servlet-name>
        <servlet-class>utils.Starter</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>servletUpload</servlet-name>
        <servlet-class>utils.ServletUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProp</servlet-name>
        <servlet-class>controller.AddProp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Preload</servlet-name>
        <servlet-class>controller.Preload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recalculate</servlet-name>
        <servlet-class>controller.Recalculate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SyntaxChecker</servlet-name>
        <servlet-class>controller.SyntaxChecker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletUpload</servlet-name>
        <url-pattern>/servlet/ServletUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/servlet/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProp</servlet-name>
        <url-pattern>/servlet/AddProp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Preload</servlet-name>
        <url-pattern>/servlet/Preload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recalculate</servlet-name>
        <url-pattern>/servlet/Recalculate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SyntaxChecker</servlet-name>
        <url-pattern>/SyntaxChecker</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/content/errorpage.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/content/errorpage.jsp</location>
    </error-page>
</web-app>
